@import url("https://fonts.googleapis.com/css?family=Oswald:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:regular,600,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

body {
  background-color: #fff;
  color: #919191;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.15;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 92.5rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

.header {
  padding: 0.9375rem 0;
  border-bottom: 0.0625rem solid #666666;
  background: rgba(0, 0, 0, 0.7);
  font-size: 0.75rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: 0.125rem;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--fix {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo__image img {
  height: 4.375rem;
}
.logo-title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
}

.logo-subtitle {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.header-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header-menu__link {
  padding: 0.25rem 0;
  position: relative;
}
.header-menu__link::after {
  position: absolute;
  content: "";
  border-bottom: 0.1875rem solid #F99002;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.header-menu__link:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.header-tel {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
}

.tel::before {
  content: "";
  width: 2.1875rem;
  height: 2.1875rem;
  background-image: url(../images/sprite/sprite@2x.png);
  background-position: -200px -420px;
  vertical-align: middle;
  margin-right: 0.625rem;
}

.header-language {
  font-weight: 700;
}
.slider {
  height: 100vh;
  position: relative;
}
.slider .slider-list .slider-item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider .slider-list .slider-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .slider-list .slider-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba(0, 0, 0, 0.8)), to(transparent));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 20%, transparent);
}
.slider .slider-list .slider-item .slider-item__content {
  position: absolute;
  left: 10%;
  top: 25%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.slider .slider-list .slider-item .slider-item__content p:nth-child(1) {
  letter-spacing: 10px;
  font-weight: 600;
}
.slider .slider-list .slider-item .slider-item__content h2 {
  font-size: 100px;
  font-weight: 700;
  margin: 0 0 1.25rem -0.3125rem;
}
.slider .slider-list .slider-item.active {
  opacity: 1;
  z-index: 10;
}
.slider .slider-list .slider-item.active p:nth-child(1),
.slider .slider-list .slider-item.active h2,
.slider .slider-list .slider-item.active p:nth-child(3) {
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 0;
  -webkit-animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
          animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.slider .slider-list .slider-item.active h2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.slider .slider-list .slider-item.active p:nth-child(3) {
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
}
@-webkit-keyframes showContent {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes showContent {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.slider-arrows {
  position: absolute;
  top: 35%;
  right: 50px;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider-arrows div:nth-child(1)::after {
  content: "";
  width: 95px;
  height: 95px;
  background-image: url(../images/sprite/sprite@2x.png);
  background-position: -590px -225px;
  margin: 10px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.slider-arrows div:nth-child(1):hover::after {
  content: "";
  width: 95px;
  height: 95px;
  background-image: url(../images/sprite/sprite@2x.png);
  background-position: -590px -330px;
  cursor: pointer;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.slider-arrows div:nth-child(2)::after {
  content: "";
  width: 95px;
  height: 95px;
  background-image: url(../images/sprite/sprite@2x.png);
  background-position: -590px -225px;
  margin: 10px;
  -webkit-transform: scale(1) rotate(180deg);
      -ms-transform: scale(1) rotate(180deg);
          transform: scale(1) rotate(180deg);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.slider-arrows div:nth-child(2):hover::after {
  content: "";
  width: 95px;
  height: 95px;
  background-image: url(../images/sprite/sprite@2x.png);
  background-position: -590px -330px;
  cursor: pointer;
  -webkit-transform: rotate(180deg) scale(1.1);
      -ms-transform: rotate(180deg) scale(1.1);
          transform: rotate(180deg) scale(1.1);
}

.section-title {
  font-family: "Oswald", sans-serif;
  margin: 3.125rem auto 1.25rem;
}
.section-title h3 {
  color: #F99002;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.125rem;
  padding: 0.625rem;
}
.section-title h3::before {
  content: "";
  display: inline-block;
  margin: 0.4375rem;
  width: 6.25rem;
  height: 0.125rem;
  background: #F99002;
}
.section-title p {
  color: #131313;
  text-transform: uppercase;
  font-size: 3.125rem;
  line-height: 1.15;
  font-weight: 600;
}

[class*=__menu-title] {
  font-family: "Oswald", sans-serif;
  color: #045fe7;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 0.1875rem;
  position: relative;
  margin-bottom: 4.375rem;
}
[class*=__menu-title]::after {
  position: absolute;
  content: "";
  width: 140px;
  height: 140px;
  background-image: url("/images/sprite/sprite.png");
  bottom: -50px;
  left: 0;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.business-field:hover [class*=__menu-title]::after {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}
.home-field:hover [class*=__menu-title]::after {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}

[class*=__menu-menu] {
  font-size: 1.0625rem;
  text-transform: uppercase;
  line-height: 2;
  font-weight: 500;
}

.services__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}
.services__field-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}
.services__field-business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.home-field__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}
.home-field__picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-field__menu {
  margin: 0 auto;
}
.home-field__link {
  position: relative;
}
.home-field__link::before {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  background-image: url(../images/sprite/sprite.png);
  background-position: -172px -185px;
  vertical-align: middle;
  margin-right: 0.625rem;
}
.home-field__link::after {
  position: absolute;
  content: "";
  border-bottom: 0.1875rem solid #F99002;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.home-field__link:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.business-field__menu {
  margin: 0 auto;
}
.business-field__link {
  position: relative;
}
.business-field__link::before {
  content: "";
  width: 0.625rem;
  height: 0.625rem;
  background-image: url(../images/sprite/sprite.png);
  background-position: -172px -185px;
  vertical-align: middle;
  margin-right: 0.625rem;
}
.business-field__link::after {
  position: absolute;
  content: "";
  border-bottom: 0.1875rem solid #F99002;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.business-field__link:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}
.business-field__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}
.business-field__picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.vidslider {
  height: 100vh;
  position: relative;
}
.vidslider .slider-arrows {
  left: 50px;
}
.vidslider .vidslider-list .vidslider-item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.vidslider .vidslider-list .vidslider-item video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.vidslider .vidslider-list .vidslider-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba(0, 0, 0, 0.8)), to(transparent));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 20%, transparent);
}
.vidslider .vidslider-list .vidslider-item .vidslider-item__content {
  position: absolute;
  right: 10%;
  top: 25%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.vidslider .vidslider-list .vidslider-item .vidslider-item__content p:nth-child(1) {
  letter-spacing: 10px;
  font-weight: 600;
}
.vidslider .vidslider-list .vidslider-item .vidslider-item__content h2 {
  font-size: 100px;
  font-weight: 700;
  margin: 0 0 1.25rem -0.3125rem;
}
.vidslider .vidslider-list .vidslider-item.active {
  opacity: 1;
  z-index: 10;
}
.vidslider .vidslider-list .vidslider-item.active p:nth-child(1),
.vidslider .vidslider-list .vidslider-item.active h2,
.vidslider .vidslider-list .vidslider-item.active p:nth-child(3) {
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 0;
  -webkit-animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
          animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.vidslider .vidslider-list .vidslider-item.active h2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.vidslider .vidslider-list .vidslider-item.active p:nth-child(3) {
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
}
@keyframes showContent {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.eqip__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.eqip__field-text {
  height: 12.5rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #F99002 #f0eaea;
  scroll-behavior: smooth;
}
.eqip__field-text p {
  margin-bottom: 0.625rem;
}
.eqip__field-picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  width: 100%;
  height: 12.5rem;
}
.eqip__field-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.eqip__logos {
  margin-top: 3.125rem;
  padding: 1.5625rem 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.eqip__logos::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 15.625rem;
  height: 100%;
  z-index: 2;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.eqip__logos::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 15.625rem;
  height: 100%;
  z-index: 2;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
.eqip__logos:hover .eqip__logos-slide {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.eqip__logos-slide {
  display: inline-block;
  -webkit-animation: 20s slideLogos infinite linear;
          animation: 20s slideLogos infinite linear;
}
.eqip__logos-slide img {
  height: 4.6875rem;
  margin: 0 1.5625rem;
}

@-webkit-keyframes slideLogos {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slideLogos {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.footer {
  color: #fff;
  background: url(/images/bg/bg-step-f.webp) no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}
.footer__service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media screen and (max-width: 950px) {
  .footer__service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 100px;
  }
}
.footer__service-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
.footer__service-info::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  left: 0;
  bottom: -50%;
  background-color: #F99002;
}
.footer__service-info .info-item {
  width: 100px;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer__service-info .info-item:nth-child(1)::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: -75px;
  background: url(/images/service/service-1.png) no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
          animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
  opacity: 0;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
}
.footer__service-info .info-item:nth-child(2)::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: -75px;
  background: url(/images/service/service-2.png) no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
          animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
  opacity: 0;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}
.footer__service-info .info-item:nth-child(3)::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: -75px;
  background: url(/images/service/service-3.png) no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
          animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
  opacity: 0;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.footer__service-info .info-item:nth-child(4)::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top: -75px;
  background: url(/images/service/service-4.png) no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
          animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
  opacity: 0;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.footer__service-form {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.footer__service-form .text-box {
  background: #131313;
  color: #fff;
  border: none;
  width: calc(50% - 0.625rem);
  height: 3.125rem;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 1.875rem;
  opacity: 0.7;
}
@media screen and (max-width: 950px) {
  .footer__service-form .text-box {
    width: 100%;
  }
}
.footer__service-form .text-box:first-child {
  margin-right: 0.9375rem;
}
.footer__service-form textarea {
  background: #131313;
  color: #fff;
  border: none;
  width: 100%;
  height: 3.125rem;
  padding: 0.75rem;
  min-height: 12.5rem;
  font-size: 1rem;
  border-radius: 0.3125rem;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 1.25rem;
  opacity: 0.7;
  font-family: "Raleway", sans-serif;
}
.footer__service-form .send-btn {
  position: absolute;
  right: 10px;
  bottom: -10px;
  margin-bottom: 1.875rem;
  background: #045fe7;
  margin-top: 1.25rem;
  color: #fff;
  border: none;
  width: 8.75rem;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 0.3125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__service-form .send-btn:hover {
  background: #fff;
  color: #045fe7;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__contact .header-logo {
  letter-spacing: 0.125rem;
}
.footer__contact-contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}
.footer__contact-contact div {
  margin-top: 0.625rem;
}
.footer__contact-contact div:nth-child(3)::before {
  content: "";
  width: 0.75rem;
  height: 1.0625rem;
  background-image: url(../images/sprite/sprite.png);
  background-position: -220px -145px;
  vertical-align: middle;
  margin-right: 0.625rem;
}
.footer__contact-contact div:nth-child(1)::before {
  content: "";
  width: 0.875rem;
  height: 0.875rem;
  background-image: url(../images/sprite/sprite.png);
  background-position: -102px -212px;
  vertical-align: middle;
  margin-right: 0.625rem;
}
.footer__contact-contact div:nth-child(2)::before {
  content: "";
  width: 1rem;
  height: 0.625rem;
  background-image: url(../images/sprite/sprite.png);
  background-position: -152px -185px;
  vertical-align: middle;
  margin-right: 0.625rem;
}
.social-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1529411765);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1529411765);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.social-button:hover {
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1529411765);
          box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1529411765);
}
.social-button svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}
.facebook svg {
  fill: #f2f2f2;
}
.facebook:hover svg {
  fill: #3b5998;
}

.instagram {
  background-color: #c13584;
}
.instagram svg {
  fill: #f2f2f2;
}
.instagram:hover svg {
  fill: #c13584;
}

.service {
  margin-top: 4.375rem;
}
.service__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.service__field {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}
.service__article p {
  margin-bottom: 0.625rem;
}
.service__article img {
  width: 15vw;
}

.section-title h1 {
  color: #131313;
  text-transform: uppercase;
  font-size: 3.125rem;
  line-height: 1.15;
  font-weight: 600;
}

.gallery__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35vh;
  -webkit-perspective: 500px;
          perspective: 500px;
}
.gallery__items .gallery__item {
  width: 100px;
  height: 200px;
  background-color: #131313;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  -webkit-filter: grayscale(1) brightness(0.5);
          filter: grayscale(1) brightness(0.5);
  -webkit-transition: width 1.25s cubic-bezier(0.1, 0.7, 0, 1), -webkit-transform 1.25s cubic-bezier(0.1, 0.7, 0, 1), -webkit-filter 3s cubic-bezier(0.1, 0.7, 0, 1);
  transition: width 1.25s cubic-bezier(0.1, 0.7, 0, 1), -webkit-transform 1.25s cubic-bezier(0.1, 0.7, 0, 1), -webkit-filter 3s cubic-bezier(0.1, 0.7, 0, 1);
  transition: transform 1.25s cubic-bezier(0.1, 0.7, 0, 1), filter 3s cubic-bezier(0.1, 0.7, 0, 1), width 1.25s cubic-bezier(0.1, 0.7, 0, 1);
  transition: transform 1.25s cubic-bezier(0.1, 0.7, 0, 1), filter 3s cubic-bezier(0.1, 0.7, 0, 1), width 1.25s cubic-bezier(0.1, 0.7, 0, 1), -webkit-transform 1.25s cubic-bezier(0.1, 0.7, 0, 1), -webkit-filter 3s cubic-bezier(0.1, 0.7, 0, 1);
  will-change: transform, filter;
}
.gallery__items .gallery__item::before, .gallery__items .gallery__item::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 30px;
  right: -15px;
}
.gallery__items .gallery__item::after {
  left: -15px;
}
.gallery__items .gallery__item:hover {
  -webkit-filter: inherit;
          filter: inherit;
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
}
.gallery__items .gallery__item:hover + * {
  -webkit-filter: inherit;
          filter: inherit;
  -webkit-transform: translateZ(85px) rotateY(20deg);
          transform: translateZ(85px) rotateY(20deg);
  z-index: -1;
}
.gallery__items .gallery__item:hover + * + * {
  -webkit-filter: inherit;
          filter: inherit;
  -webkit-transform: translateZ(50px) rotateY(15deg);
          transform: translateZ(50px) rotateY(15deg);
  z-index: -2;
}
.gallery__items .gallery__item:hover + * + * + * {
  -webkit-filter: inherit;
          filter: inherit;
  -webkit-transform: translateZ(25px) rotateY(10deg);
          transform: translateZ(25px) rotateY(10deg);
  z-index: -3;
}
.gallery__items .gallery__item:hover + * + * + * + * {
  -webkit-filter: inherit;
          filter: inherit;
  -webkit-transform: translateZ(6px) rotateY(5deg);
          transform: translateZ(6px) rotateY(5deg);
  z-index: -4;
}
.gallery__items .gallery__item:has(+ :hover) {
  -webkit-filter: inherit;
          filter: inherit;
  -webkit-transform: translateZ(85px) rotateY(-20deg);
          transform: translateZ(85px) rotateY(-20deg);
}
.gallery__items .gallery__item:has(+ * + :hover) {
  -webkit-filter: inherit;
          filter: inherit;
  -webkit-transform: translateZ(50px) rotateY(-15deg);
          transform: translateZ(50px) rotateY(-15deg);
}
.gallery__items .gallery__item:has(+ * + * + :hover) {
  -webkit-filter: inherit;
          filter: inherit;
  -webkit-transform: translateZ(25px) rotateY(-10deg);
          transform: translateZ(25px) rotateY(-10deg);
}
.gallery__items .gallery__item:has(+ * + * + * + :hover) {
  -webkit-filter: inherit;
          filter: inherit;
  -webkit-transform: translateZ(6px) rotateY(-5deg);
          transform: translateZ(6px) rotateY(-5deg);
}
.gallery__items .gallery__item:active, .gallery__items .gallery__item:focus {
  width: 25vw;
  height: 100%;
  -webkit-filter: inherit;
          filter: inherit;
  z-index: 10;
  -webkit-transform: translateZ(150px);
          transform: translateZ(150px);
  margin: 0 0.45vw;
}
.gallery__items .gallery__item:nth-child(1) {
  background-image: url(/images/gallery/svn/camphoto-1.webp);
}
.gallery__items .gallery__item:nth-child(2) {
  background-image: url(/images/gallery/svn/camphoto-2.webp);
}
.gallery__items .gallery__item:nth-child(3) {
  background-image: url(/images/gallery/svn/camphoto-3.webp);
}
.gallery__items .gallery__item:nth-child(4) {
  background-image: url(/images/gallery/svn/camphoto-4.webp);
}
.gallery__items .gallery__item:nth-child(5) {
  background-image: url(/images/gallery/svn/camphoto-5.webp);
}
.gallery__items .gallery__item:nth-child(6) {
  background-image: url(/images/gallery/svn/camphoto-6.webp);
}
.gallery__items .gallery__item:nth-child(7) {
  background-image: url(/images/gallery/svn/camphoto-7.webp);
}
.gallery__items .gallery__item:nth-child(8) {
  background-image: url(/images/gallery/svn/camphoto-8.webp);
}
.gallery__items .gallery__item:nth-child(9) {
  background-image: url(/images/gallery/svn/camphoto-9.webp);
}
.gallery__items .gallery__item:nth-child(10) {
  background-image: url(/images/gallery/svn/camphoto-10.webp);
}
.gallery__items .gallery__item:nth-child(11) {
  background-image: url(/images/gallery/svn/camphoto-11.webp);
}
.gallery__items .gallery__item:nth-child(12) {
  background-image: url(/images/gallery/svn/camphoto-12.webp);
}
.gallery__items .gallery__item:nth-child(13) {
  background-image: url(/images/gallery/svn/camphoto-13.webp);
}