@import url("https://fonts.googleapis.com/css?family=Oswald:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:regular,600,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

body {
  background-color: #fff;
  color: #919191;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.15;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 92.5rem;
  padding: 0 0.9375rem;
  margin: 0 auto;
}

.header {
  padding: 0.9375rem 0;
  border-bottom: 0.0625rem solid #666666;
  background: rgba(0, 0, 0, 0.7);
  font-size: 0.75rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  letter-spacing: 0.125rem;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header--fix {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo__image img {
  height: 4.375rem;
}
.logo-title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
}

.logo-subtitle {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.header-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}
.header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header-menu__link {
  padding: 0.25rem 0;
  position: relative;
}
.header-menu__link::after {
  position: absolute;
  content: "";
  border-bottom: 0.1875rem solid #F99002;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.header-menu__link:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.header-tel {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
}

.tel::before {
  content: "";
  width: 2.1875rem;
  height: 2.1875rem;
  background-image: url(../images/sprite/sprite@2x.png);
  background-position: -200px -420px;
  vertical-align: middle;
  margin-right: 0.625rem;
}

.header-language {
  font-weight: 700;
}
.slider {
  height: 100vh;
  position: relative;
}
.slider .slider-list .slider-item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.slider .slider-list .slider-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider .slider-list .slider-item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba(0, 0, 0, 0.8)), to(transparent));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 20%, transparent);
}
.slider .slider-list .slider-item .slider-item__content {
  position: absolute;
  left: 10%;
  top: 25%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.slider .slider-list .slider-item .slider-item__content p:nth-child(1) {
  letter-spacing: 10px;
  font-weight: 600;
}
.slider .slider-list .slider-item .slider-item__content h2 {
  font-size: 100px;
  font-weight: 700;
  margin: 0 0 1.25rem -0.3125rem;
}
.slider .slider-list .slider-item.active {
  opacity: 1;
  z-index: 10;
}
.slider .slider-list .slider-item.active p:nth-child(1),
.slider .slider-list .slider-item.active h2,
.slider .slider-list .slider-item.active p:nth-child(3) {
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 0;
  -webkit-animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
          animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.slider .slider-list .slider-item.active h2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.slider .slider-list .slider-item.active p:nth-child(3) {
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
}
@-webkit-keyframes showContent {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes showContent {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

.slider-arrows {
  position: absolute;
  top: 35%;
  right: 50px;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider-arrows div:nth-child(1)::after {
  content: "";
  width: 95px;
  height: 95px;
  background-image: url(../images/sprite/sprite@2x.png);
  background-position: -590px -225px;
  margin: 10px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.slider-arrows div:nth-child(1):hover::after {
  content: "";
  width: 95px;
  height: 95px;
  background-image: url(../images/sprite/sprite@2x.png);
  background-position: -590px -330px;
  cursor: pointer;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.slider-arrows div:nth-child(2)::after {
  content: "";
  width: 95px;
  height: 95px;
  background-image: url(../images/sprite/sprite@2x.png);
  background-position: -590px -225px;
  margin: 10px;
  -webkit-transform: scale(1) rotate(180deg);
      -ms-transform: scale(1) rotate(180deg);
          transform: scale(1) rotate(180deg);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.slider-arrows div:nth-child(2):hover::after {
  content: "";
  width: 95px;
  height: 95px;
  background-image: url(../images/sprite/sprite@2x.png);
  background-position: -590px -330px;
  cursor: pointer;
  -webkit-transform: rotate(180deg) scale(1.1);
      -ms-transform: rotate(180deg) scale(1.1);
          transform: rotate(180deg) scale(1.1);
}

.section-title {
  font-family: "Oswald", sans-serif;
  margin: 3.125rem auto 1.25rem;
}
.section-title h3 {
  color: #F99002;
  text-transform: uppercase;
  font-size: 1.125rem;
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: 0.125rem;
  padding: 0.625rem;
}
.section-title h3::before {
  content: "";
  display: inline-block;
  margin: 0.4375rem;
  width: 6.25rem;
  height: 0.125rem;
  background: #F99002;
}
.section-title p {
  color: #131313;
  text-transform: uppercase;
  font-size: 3.125rem;
  line-height: 1.15;
  font-weight: 600;
}

[class*=__menu-title] {
  font-family: "Oswald", sans-serif;
  color: #045fe7;
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: 0.1875rem;
  position: relative;
  margin-bottom: 100px;
}
[class*=__menu-title]::after {
  position: absolute;
  content: "";
  width: 140px;
  height: 140px;
  background-image: url("/images/sprite/sprite.png");
  bottom: -50px;
  left: 0;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.business-field:hover [class*=__menu-title]::after {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}
.home-field:hover [class*=__menu-title]::after {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
}

[class*=__menu-menu] {
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 2;
  font-weight: 500;
  letter-spacing: 0.125rem;
}

.services__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}
.services__field-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}
.services__field-business {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.home-field__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66%;
          flex: 0 0 66.66%;
}
.home-field__picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-field__menu {
  margin: 0 auto;
}
.home-field__link {
  position: relative;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.home-field__link:hover {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}
.home-field__link::after {
  position: absolute;
  content: "";
  border-bottom: 0.1875rem solid #F99002;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.home-field__link:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.business-field__menu {
  margin: 0 auto;
}
.business-field__link {
  position: relative;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.business-field__link:hover {
  -webkit-transform: scale(1.04);
      -ms-transform: scale(1.04);
          transform: scale(1.04);
}
.business-field__link::after {
  position: absolute;
  content: "";
  border-bottom: 0.1875rem solid #F99002;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
      -ms-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.business-field__link:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}
.business-field__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66%;
          flex: 0 0 66.66%;
}
.business-field__picture img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.eqip__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.eqip__field-text {
  height: 12.5rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #F99002 #f0eaea;
  scroll-behavior: smooth;
}
.eqip__field-picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  width: 100%;
  height: 12.5rem;
}
.eqip__field-picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.eqip__logos {
  margin-top: 3.125rem;
  padding: 1.5625rem 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.eqip__logos::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 15.625rem;
  height: 100%;
  z-index: 2;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.eqip__logos::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 15.625rem;
  height: 100%;
  z-index: 2;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(white));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
.eqip__logos:hover .eqip__logos-slide {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.eqip__logos-slide {
  display: inline-block;
  -webkit-animation: 20s slideLogos infinite linear;
          animation: 20s slideLogos infinite linear;
}
.eqip__logos-slide img {
  height: 4.6875rem;
  margin: 0 1.5625rem;
}

@-webkit-keyframes slideLogos {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slideLogos {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}