@use "sass:math";

@import "_reset.scss";
@import "_fonts.scss";
@import "_functions.scss";

// mainStyles

$mainColor: #fff;
$secondGrayColor:#919191;
$secondOrangeColor: #F99002;
$secondBlackColor: #131313;
$secondBlueColor:#045fe7;


body {
   background-color: $mainColor;
   color: $secondGrayColor;
   font-family: "Raleway", sans-serif;
   font-size: toRem(16);
   line-height: 1.15;

   
}

.wrapper {
   min-height: 100%;
   overflow: clip;
   display: flex;
   flex-direction: column;
}

.wrapper>main {
   flex-grow: 1;
}

[class*="__container"] {
   max-width: toRem(1480);
   padding: 0 toRem(15);
   margin: 0 auto;
}




// Header===============================================================

.header {
   padding: toRem(15) 0;
   border-bottom: toRem(1) solid #666666;
   background: rgba(0, 0, 0, .7);
   font-size: toRem(12);
   text-transform: uppercase;
   color: rgb(255, 255, 255);
   letter-spacing: toRem(2);
   
   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;   
   }

  
}

.header--fix {
   position: fixed;
   width: 100%;
   left: 0;
   top: 0;
   z-index: 100;

}
.header-logo {
   display: flex;
   align-items: center;

   // .header-logo__image

   &__image {
      img {
         height: toRem(70);
      }
   }

   // .header-logo__title

   &__title {
      
   
   }
}
.logo-title {
   font-family: "Oswald", sans-serif;
   text-transform: uppercase;
   font-weight: 600;
   font-size: toRem(40);
}
.logo-subtitle {
   font-family: "Oswald", sans-serif;
   text-transform: uppercase;
   font-size: toRem(14);
}
.header-menu {
   flex: 0 0 40%;

   // .header-menu__list

   &__list {
      display: flex;
      align-items: center;
      justify-content: space-around;
   }

   // .header-menu__item

   &__item {
      
   }

   // .header-menu__link

   &__link {
      padding: toRem(4) 0;
      position: relative;
      &::after {
         position: absolute;
         content: "";
         border-bottom: toRem(3) solid $secondOrangeColor;
         left: 0;
         bottom: 0;
         width: 100%;
         transform: scaleX(0);
         transform-origin: right;
         transition: transform .6s;
      }
      &:hover::after {
         transform: scaleX(1);
         transform-origin: left;
      }
   }
}
.header-tel {
   font-family: "Oswald", sans-serif;
   text-transform: uppercase;
   font-weight: 600;
   font-size: toRem(20);
}
.tel {
   &::before {
      content: "";
      width: toRem(35);
      height: toRem(35);
      background-image: url(../images/sprite/sprite@2x.png);
      background-position: -200px -420px;
      vertical-align: middle;
      margin-right: toRem(10);
   }

}
.header-language {
   font-weight: 700;

   // .header-language__list

   &__list {
   }
}
.header-language-item {
}



// Slider ========================================================================



.slider {
   height: 100vh;
   position: relative;
   
   .slider-list {
      .slider-item {
         position: absolute;
         inset: 0 0 0 0;
         overflow: hidden;
         opacity: 0;
         transition: .5s;

         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }

         &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 20%, transparent);

         }

         .slider-item__content {
            position: absolute;
            left: 10%;
            top: 25%;
            width: 500px;
            max-width: 80%;
            z-index: 1;
            font-family: "Oswald", sans-serif;
            text-transform: uppercase;
            color: $mainColor;

            p {
               &:nth-child(1) {
                  letter-spacing: 10px;
                  font-weight: 600;
               }
            }

            h2 {
               font-size: 100px;
               font-weight: 700;
               margin: 0 0 toRem(20) toRem(-5);
            }

         }

         

         &.active {
            opacity: 1;
            z-index: 10;

           

            p:nth-child(1),
            h2,
            p:nth-child(3) {
               transform: translateY(30px);
               filter: blur(20px);
               opacity: 0;
               animation: showContent .5s .7s ease-in-out 1 forwards;

            }

            h2 {
               animation-delay: 1s;
            }

            p:nth-child(3) {
               animation-duration: 1.3s;
            } 
            
            @keyframes showContent {
               to {
                  transform: translateY(0);
                  filter: blur(0);
                  opacity: 1;
               }
            }

         }
      }


   }

}

.slider-arrows {
   position: absolute;
   top: 35%;
   right: 50px;
   z-index: 99;
   display: flex;
   align-items: center;

   div:nth-child(1) {
      &::after {
         content: "";
         width: 95px;
         height: 95px;
         background-image: url(../images/sprite/sprite@2x.png);
         background-position: -590px -225px;
         margin: 10px;
         transform: scale(1);
         transition: transform .6s; 
      }

      &:hover::after {
         content: "";
         width: 95px;
         height: 95px;
         background-image: url(../images/sprite/sprite@2x.png);
         background-position: -590px -330px;
         cursor: pointer;
         transform: scale(1.1);
      }
   }

   div:nth-child(2) {
      &::after {
         content: "";
         width: 95px;
         height: 95px;
         background-image: url(../images/sprite/sprite@2x.png);
         background-position: -590px -225px;
         margin: 10px;
         transform: scale(1) rotate(180deg);
         transition: transform .6s;
      }

      &:hover::after {
         content: "";
         width: 95px;
         height: 95px;
         background-image: url(../images/sprite/sprite@2x.png);
         background-position: -590px -330px;
         cursor: pointer;
         transform: rotate(180deg) scale(1.1);
      }
   }


}


// Section-Title =============================================================


.section-title {
   font-family: "Oswald", sans-serif;
   margin: toRem(50) auto toRem(20);
   
   h3 {
      
      color: $secondOrangeColor;
      text-transform: uppercase;
      font-size: toRem(18);
      line-height: 1.15;
      font-weight: 700;
      letter-spacing: toRem(2);
      padding: toRem(10);
           

      &::before {
         content: "";
         display:inline-block;
         margin: toRem(7);
         
         width: toRem(100);
         height: toRem(2);
         background: $secondOrangeColor;
      }
   }
 
   p {
      color: $secondBlackColor;
      text-transform: uppercase;
      font-size: toRem(50);
      line-height: 1.15;
      font-weight: 600;

   }

}



// Services ===================================================================

[class*="__menu-title"] {
   font-family: "Oswald", sans-serif;
   color: $secondBlueColor;
   text-transform: uppercase;
   font-size: toRem(36);
   font-weight: 600;
   letter-spacing: toRem(3);
   position: relative;
   margin-bottom: toRem(70);
   

   &::after {
      position: absolute;
      content: "";
      width: 140px;
      height: 140px;
      background-image: url("/images/sprite/sprite.png");
      bottom: -50px;
      left: 0;
      transform: scale(1);
      transition: transform .6s;

      .business-field:hover & {
         transform: scale(1.4);
      }

      .home-field:hover & {
         transform: scale(1.4);
      }
   }

   
}

[class*="__menu-menu"] {
   font-size: toRem(17);
   text-transform: uppercase;
   line-height: 2;
   font-weight: 500;
     

}


.services {

   // .services__container

   &__container {
   }

   // .services__fields

   &__fields {
      display: flex;
      flex-direction: column;
      row-gap: toRem(20);
   }

   // .services__field-home

   &__field-home {
      display: flex;
      align-items: center;
      
      justify-content:space-between;
      gap: toRem(20);
      
   }

   // .services__field-business

   &__field-business {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: toRem(20);
   }
}


.home-field {
   

   // .home-field__picture

   &__picture {
      flex: 0 0 60%;

      img {
         height: 100%;
         width: 100%;
         object-fit: cover;
      }
   }

   // .home-field__menu

   &__menu {
      margin: 0 auto;
      
      
   }

   // .home-field__menu-title

   &__menu-title {
     
   }

   // .home-field__menu-menu

   &__menu-menu {
   }

   // .home-field__list

	&__list {
		}

	// .home-field__item

	&__item {
		}

	// .home-field__link

	&__link {
      position: relative;

      &::before {
         content: "";
         width: toRem(10);
         height: toRem(10);
         background-image: url(../images/sprite/sprite.png);
         background-position: -172px -185px;
         vertical-align: middle;
         margin-right: toRem(10);

      }
      

      &::after {
         position: absolute;
         content: "";
         border-bottom: toRem(3) solid $secondOrangeColor;
         left: 0;
         bottom: 0;
         width: 100%;
         transform: scaleX(0);
         transform-origin: right;
         transition: transform .6s;
      }
      &:hover::after {
         transform: scaleX(1);
         transform-origin: left;
      }
		}
}


.business-field {

   // .business-field__menu

   &__menu {
      margin: 0 auto;
   }

   // .business-field__menu-title

   &__menu-title {
   }

   // .business-field__menu-menu

   &__menu-menu {
   }
   // .business-field__list

	&__list {
		}

	// .business-field__item

	&__item {
		}

	// .business-field__link

	&__link {
      position: relative;

      &::before {
         content: "";
         width: toRem(10);
         height: toRem(10);
         background-image: url(../images/sprite/sprite.png);
         background-position: -172px -185px;
         vertical-align: middle;
         margin-right: toRem(10);

      }
      

      &::after {
         position: absolute;
         content: "";
         border-bottom: toRem(3) solid $secondOrangeColor;
         left: 0;
         bottom: 0;
         width: 100%;
         transform: scaleX(0);
         transform-origin: right;
         transition: transform .6s;
      }
      &:hover::after {
         transform: scaleX(1);
         transform-origin: left;
      }
		}

   // .business-field__picture

   &__picture {
      flex: 0 0 60%;

      img {
         height: 100%;
         width: 100%;
         object-fit: cover;
      }
   }
}

// Section VidSlider ==========================================================================

.vidslider {
   height: 100vh;
   position: relative;

.slider-arrows {
      left: 50px;
   }

.vidslider-list {
   .vidslider-item {
      position: absolute;
      inset: 0 0 0 0;
      overflow: hidden;
      opacity: 0;
      transition: .5s;

      video {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }

      &::after {
         content: "";
         width: 100%;
         height: 100%;
         position: absolute;
         left: 0;
         bottom: 0;
         background-image: linear-gradient(to top, rgba(0, 0, 0, .8) 20%, transparent);

      }

      .vidslider-item__content {
         position: absolute;
         right: 10%;
         top: 25%;
         width: 500px;
         max-width: 80%;
         z-index: 1;
         font-family: "Oswald", sans-serif;
         text-transform: uppercase;
         color: $mainColor;

         p {
            &:nth-child(1) {
               letter-spacing: 10px;
               font-weight: 600;
            }
         }

         h2 {
            font-size: 100px;
            font-weight: 700;
            margin: 0 0 toRem(20) toRem(-5);
         }

      }

      

      &.active {
         opacity: 1;
         z-index: 10;

        

         p:nth-child(1),
         h2,
         p:nth-child(3) {
            transform: translateY(30px);
            filter: blur(20px);
            opacity: 0;
            animation: showContent .5s .7s ease-in-out 1 forwards;

         }

         h2 {
            animation-delay: 1s;
         }

         p:nth-child(3) {
            animation-duration: 1.3s;
         } 
         
         @keyframes showContent {
            to {
               transform: translateY(0);
               filter: blur(0);
               opacity: 1;
            }
         }

      }
   }


}

}



// Eqipment ====================================================================

.eqip {

   // .eqip__container

   &__container {
   }

   // .eqip__fields

   &__fields {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   // .eqip__field-text

   &__field-text {
      height: toRem(200);
      
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: $secondOrangeColor #f0eaea;
      scroll-behavior: smooth;

      p {
         margin-bottom: toRem(10);
      }

      
   }

   // .eqip__field-picture

   &__field-picture {
      flex: 0 0 40%;
      width: 100%;
      height: toRem(200);
      
      
      img {
         width: 100%;
         height: 100%;
         object-fit: contain;
      }
   }

   // .eqip__logos

	&__logos {
      margin-top: toRem(50);
      padding: toRem(25) 0;
      overflow: hidden;
      white-space: nowrap;
      position: relative;

      &::before {
         position: absolute;
         content: "";
         left: 0;
         top: 0;
         width: toRem(250);
         height: 100%;
         z-index: 2;
         background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
      }

      &::after {
         position: absolute;
         content: "";
         right: 0;
         top: 0;
         width: toRem(250);
         height: 100%;
         z-index: 2;
         background: linear-gradient(to right, rgba(255, 255, 255, 0), white);

      }

      &:hover {
         .eqip__logos-slide {
            animation-play-state: paused;
         }
      }
	}

	// .eqip__logos-slide

	&__logos-slide {
      display: inline-block;
      animation: 20s slideLogos infinite linear;

      img {
         height: toRem(75);
         margin: 0 toRem(25);
      }

	}
}

@keyframes slideLogos {
   from {
      transform: translateX(0);
   }

   to {
      transform: translateX(-100%);
   }
   
}

.picture-field {
}









// Footer =====================================================================



.footer {
      color: $mainColor;
      
      background: url(/images/bg/bg-step-f.webp) no-repeat;
      background-size: cover;
      background-position: bottom;
      background-attachment: fixed;

   // .footer__container

   &__container {
      
   }

   // .footer__service

   &__service {
      display: flex;
      align-items: center;
     
      justify-content: space-between;
      gap: 30px;

      @media screen and (max-width: 950px) {
         flex-direction: column;
      margin-top: 100px;}

   }

   // .footer__service-info

   &__service-info {
      position: relative;
      display: flex;
      align-items: baseline;  
        
      justify-content: space-around;
      width: 100%;

      &::after {
         position: absolute;
         content: "";
         height: 3px;
         width: 100%;
         left: 0;
         bottom: -50%;
         background-color: $secondOrangeColor;

      }

      .info-item {
         width: 100px;
         text-align: center;
         position: relative;
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 10px;
         

         &:nth-child(1) {
            &::before {
               position: absolute;
               content: "";
               width: 50px;
               height: 50px;
               
               top: -75px;
   
               background: url(/images/service/service-1.png) no-repeat;
               background-size: contain;
               background-position: center;
               animation: showContent .5s .7s ease-in-out 1 forwards;
               opacity: 0;
               transform: translateY(30px);
               
               
                      
               
            }
         }
         &:nth-child(2) {
            &::before {
               position: absolute;
               content: "";
               width: 50px;
               height: 50px;
               
               top: -75px;
   
               background: url(/images/service/service-2.png) no-repeat;
               background-size: contain;
               background-position: center;
               animation: showContent .5s .7s ease-in-out 1 forwards;
               opacity: 0;
               transform: translateY(30px);
               
               animation-delay: 1.1s;
               
                      
               
            }
         }
         &:nth-child(3) {
            &::before {
               position: absolute;
               content: "";
               width: 50px;
               height: 50px;
               
               top: -75px;
   
               background: url(/images/service/service-3.png) no-repeat;
               background-size: contain;
               background-position: center;
               animation: showContent .5s .7s ease-in-out 1 forwards;
               opacity: 0;
               transform: translateY(30px);
               
               animation-delay: 1.8s;
               
                      
               
            }
         }
         &:nth-child(4) {
            &::before {
               position: absolute;
               content: "";
               width: 50px;
               height: 50px;
               
               top: -75px;
               
   
               background: url(/images/service/service-4.png) no-repeat;
               background-size: contain;
               background-position: center;
               animation: showContent .5s .7s ease-in-out 1 forwards;
               opacity: 0;
               transform: translateY(30px);
               
               animation-delay: 2.5s;
               
               
            }
         }
       

         

      }
   }

   // .footer__service-form

   &__service-form {
      position: relative;
      flex: 0 0 50%;
      
      .text-box {
         background: $secondBlackColor;
         color: $mainColor;
         border: none;
         width: calc(50% - toRem(10));
         height: toRem(50);
         padding: toRem(12);
         font-size: toRem(16);
         border-radius: toRem(5);
         box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
         margin-top: toRem(30);
         opacity: 0.7;

         @media screen and (max-width: 950px) {
            width: 100%;
            
         }

         &:first-child {
            margin-right: toRem(15);
         }
      }

      textarea {
         background: $secondBlackColor;
         color: $mainColor;
         border: none;
         width: 100%;
         height: toRem(50);
         padding: toRem(12);
         min-height: toRem(200);
         // max-height: toRem(400);
         font-size: toRem(16);
         border-radius: toRem(5);
         box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
         margin-top: toRem(20);
         opacity: 0.7;
         font-family: "Raleway", sans-serif;

      }

      .send-btn {
         position: absolute;
         right: 10px;
         bottom: -10px;
         
         margin-bottom: toRem(30);
         background: $secondBlueColor;
         margin-top: toRem(20);
         color: $mainColor;
         border: none;
         width: toRem(140);
         height: toRem(40);
         font-size: toRem(16);
         border-radius: toRem(5);
         text-transform: uppercase;
         letter-spacing: 1px;
         cursor: pointer;
         transition: all 0.3s;

         &:hover {
            background: $mainColor;
            color: $secondBlueColor;
            
         }

      }

   }

   // .footer__contact

   &__contact {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-logo {
         letter-spacing: toRem(2);
      }
      
   }

   // .footer__contact-contact

   &__contact-contact {
      flex:0 0 40%;

      div {
         margin-top: toRem(10);
   
            &:nth-child(3) {
               &::before {
                  content: "";
                  width: toRem(12);
                  height: toRem(17);
                  background-image: url(../images/sprite/sprite.png);
                  background-position: -220px -145px;
                  vertical-align: middle;
                  margin-right: toRem(10);
               }
            }

            &:nth-child(1) {
               &::before {
                  content: "";
                  width: toRem(14);
                  height: toRem(14);
                  background-image: url(../images/sprite/sprite.png);
                  background-position: -102px -212px;
                  vertical-align: middle;
                  margin-right: toRem(10);
               }
   
            }

            &:nth-child(2) {
               &::before {
                  content: "";
                  width: toRem(16);
                  height: toRem(10);
                  background-image: url(../images/sprite/sprite.png);
                  background-position: -152px -185px;
                  vertical-align: middle;
                  margin-right: toRem(10);
               }
   
            }
         }
   }
   // .footer__contact-social

   &__contact-social {
   }
}

.social-buttons {
   display: flex;
   justify-content: center;
   align-items: center;
      
   }
    
.social-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 10px;
      background-color: #fff;
      box-shadow: 0px 0px 4px #00000027;
      transition: 0.3s;

      &:hover {
         background-color: #f2f2f2;
         box-shadow: 0px 0px 6px 3px #00000027;
       }

       svg {
         transition: 0.3s;
         height: 20px;
       }
}
    
    
        
.facebook {
      background-color: #3b5998;

      svg {
         fill: #f2f2f2;
       }

      &:hover svg {
         fill: #3b5998;
       }
}
    
  
.instagram {
      background-color: #c13584;

      svg {
         fill: #f2f2f2;
       }

      &:hover svg {
         fill: #c13584;
       }
}
    
       




// Section PageService =============================================================================

.service {
   margin-top: toRem(70);
   

   // .service__container

   &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
   }

   // .service__fields

   &__field {
      flex: 0 0 60%;
   }

   // .service__article

   &__article {
      p {
         margin-bottom: toRem(10);

      }

      img {
         width: 15vw;
      }

      
   }
}
.services {

   // .services__field-home

   &__field-home {
     
   }
}
.home-field {

   // .home-field__menu

   &__menu {
   }

   // .home-field__menu-title

   &__menu-title {
   }

   // .home-field__menu-menu

   &__menu-menu {
   }

   // .home-field__list

   &__list {
   }

   // .home-field__item

   &__item {
   }

   // .home-field__link

   &__link {
   }
}
.section-title {

   h1 {
      color: $secondBlackColor;
      text-transform: uppercase;
      font-size: toRem(50);
      line-height: 1.15;
      font-weight: 600;
   }
}





// Gallery Section ===============================================================================


.gallery {

   // .gallery__container

   &__container {
   }

   // .gallery__items

   &__items {

      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: center;
      height: 35vh;
      perspective: 500px;
      
      .gallery__item {

         width: 100px;
         height: 200px;
         background-color: #131313;
         background-size: cover;
         background-position: center;
         cursor: pointer;
         filter: grayscale(1) brightness(.5);
         
         transition: transform 1.25s cubic-bezier(.1, .7, 0, 1), filter 3s cubic-bezier(.1, .7, 0, 1), width 1.25s cubic-bezier(.1, .7, 0, 1);
         will-change: transform, filter;

         &::before,
         &::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 30px;
            right: -15px;

         }

         &::after {
            left: -15px;
         }

         &:hover {
            filter: inherit;
            transform: translateZ(100px);

            + * {
               filter: inherit;
               transform: translateZ(85px) rotateY(20deg);
               z-index: -1;

               + * {
                  filter: inherit;
                  transform: translateZ(50px) rotateY(15deg);
                  z-index: -2;

                  + * {
                     filter: inherit;
                     transform: translateZ(25px) rotateY(10deg);
                     z-index: -3;

                     + * {
                        filter: inherit;
                        transform: translateZ(6px) rotateY(5deg);
                        z-index: -4;
                     }
                  }
               }
            }
         }

         &:has( + :hover) {
            filter: inherit;
            transform: translateZ(85px) rotateY(-20deg);
         }

         &:has( + * + :hover) {
            filter: inherit;
            transform: translateZ(50px) rotateY(-15deg);
         }
         
         &:has( + * + * + :hover) {
            filter: inherit;
            transform: translateZ(25px) rotateY(-10deg);
         }
         
         &:has( + * + * + * + :hover) {
            filter: inherit;
            transform: translateZ(6px) rotateY(-5deg);
         }

         &:active,
         &:focus {
            width: 25vw;
            height: 100%;
            filter: inherit;
            z-index: 10;
            transform: translateZ(150px);
            margin: 0 .45vw;
         }
         
         &:nth-child(1) {
            background-image: url(/images/gallery/svn/camphoto-1.webp);
         }
         &:nth-child(2) {
            background-image: url(/images/gallery/svn/camphoto-2.webp);
         }
         &:nth-child(3) {
            background-image: url(/images/gallery/svn/camphoto-3.webp);
         }
         &:nth-child(4) {
            background-image: url(/images/gallery/svn/camphoto-4.webp);
         }
         &:nth-child(5) {
            background-image: url(/images/gallery/svn/camphoto-5.webp);
         }
         &:nth-child(6) {
            background-image: url(/images/gallery/svn/camphoto-6.webp);
         }
         &:nth-child(7) {
            background-image: url(/images/gallery/svn/camphoto-7.webp);
         }
         &:nth-child(8) {
            background-image: url(/images/gallery/svn/camphoto-8.webp);
         }
         &:nth-child(9) {
            background-image: url(/images/gallery/svn/camphoto-9.webp);
         }
         &:nth-child(10) {
            background-image: url(/images/gallery/svn/camphoto-10.webp);
         }
         &:nth-child(11) {
            background-image: url(/images/gallery/svn/camphoto-11.webp);
         }
         &:nth-child(12) {
            background-image: url(/images/gallery/svn/camphoto-12.webp);
         }
         &:nth-child(13) {
            background-image: url(/images/gallery/svn/camphoto-13.webp);
         }
         
         

         div {
   
            
         }
      }

   }

   // .gallery__item

   
}




//  Price Section ======================================================================

.price {

   // .price__container

   &__container {
   }

   // .price__table

   &__table {
      background: $mainColor;
      border-collapse: collapse;
      text-align: center;
      width: 100%;

      th {
         margin-bottom: toRem(30);
         background: $secondBlueColor;
         margin-top: toRem(20);
         color: $mainColor;
         border: none;
         width: toRem(140);
         height: toRem(40);
         font-size: toRem(16);
         
         text-transform: uppercase;
         letter-spacing: 1px;
  
       }

       tr {
         &:nth-child(odd) {
            background: #ebf3f9;
            // color: $mainColor;
         }
       }

       td {

         &:nth-child(odd) {
            width: 75%;
            text-align: left;
         }

         border: 1px solid #e3eef7;
         padding: 10px 15px;
        
       }


      
   }
}
.section-title {
}







